<%= form_for(@group) do |f| %>
 
 
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="actions">
    <form>
      <input class="waves-effect waves-light btn red darken-3" type="submit" value="그룹만들기">
    </form>
  </div>
<<<<<<< HEAD
=======
<!--  <br>-->
<!--  <h1>맞는 시간은 언제인가?</h1>-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>시각</th>-->
<!--      <td>월</td>-->
<!--      <td>화</td>-->
<!--      <td>수</td>-->
<!--      <td>목</td>-->
<!--      <td>금</td>-->
<!--      <td>토</td>-->
<!--      <td>일</td>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th>00:00 ~ 07:30</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>07:30 ~ 09:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>09:00 ~ 10:30</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>10:30 ~ 12:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>12:00 ~ 13:30</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>13:30 ~ 15:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>15:00 ~ 16:30</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>16:30 ~ 18:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>18:00 ~ 19:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--        <tr>-->
<!--      <th>19:00 ~ 20:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>20:00 ~ 21:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>21:00 ~ 22:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>22:00 ~ 23:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>23:00 ~ 00:00</th>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--      <td><i></i></td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

>>>>>>> 20f47f33b828d68e2ce502c1f66332d278983faf

<% end %>
