<p id="notice"><%= notice %></p>

<!--<center><h5>Listing Schedules</h5></center>-->
<!--<%= current_user.inspect %>-->
<!--<% sch= Schedule.where(user_id: current_user.id) %>-->
<!--<%= sch.inspect %>-->


<h1 class="waves-effect waves-light btn red darken-3" >My schedule</h1>
<%= render 'schedules/schedule' %>

<br>
<h1 class="waves-effect waves-light btn red darken-3">My group</h1>
<ul>
 <% @memberships.each do |m| %>
  <li>
    <% group = Group.where(id:m.group_id).first %>
    <span><a href='/groups/<%=m.group_id%>'><%= group.name %></span>
    <button type="button" class="btn btn-default" aria-label="remove" style="font-size: 10px; padding: 2px 4px;" >
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </li>
 <% end %>
</ul>
<script>
  // $(function(){
  //   if(escape_javascript(<%#@schedule.tue[0]%>)==0){
  //     $('#b1').addClass('on');
  //   }
  // });


  $( function() {
    $('td').click( function() {
      if ($(this).hasClass('on')) {
        $(this).removeClass('on');
        $(this).addClass('off');
        value = 0;

      }
      else{
                $(this).removeClass('off')
        $(this).addClass('on');
        value = 1;
      }

        $.ajax({
          type: 'POST',
          url: '/schedules/schedule_status',
          async: false,
          data: {
            s_id: $(this).attr('id'),
            state: value
          },
          success: function (data) {

          },
          error: function (xor, status, error) {
          }
          
        });
      });
    });
  
  
  
  
  $("#table-name td").each(function () {
    var self = this;
    $.ajax({
        type: "POST",
        url: "file.asp",
        data: $(this).html()        
    }).done(function r(returnOfASP) {
    $(self).html(returnOfASP);
    });         
});


</script>
