<!DOCTYPE html>
<html>
<head>
  <title>OMY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <%= render 'layouts/navbar' %>
<div class="container">  
  <%= yield %>
</div>
<style>
td {
    background-color : white;
}

table {
    text-align : center;
    font-family : 맑은고딕;
    margin-top : 3%;
    width : 90%;
    border : 1px solid black;
}

thead td {
    width : 10%;
}

th {
    font-weight : bold;
    font-size : 130%;
}

tr td:hover
{
    background-color: #FEBEBE;
}

.on
{
  background-color: #b94646;
}

</style>

</body>
</html>
