<!DOCTYPE html>
<html>
<head>
  <title>OMY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <%= render 'layouts/navbar' %>
<div class="container">  
  <%= yield %>
</div>
<<<<<<< HEAD
=======
    <%= render 'layouts/footer' %>
>>>>>>> 20f47f33b828d68e2ce502c1f66332d278983faf
<style>
td {
    background-color : white;
}

table {
    text-align : center;
    font-family : 맑은고딕;
    margin-top : 3%;
    width : 90%;
    border : 1px solid black;
}

thead td {
    width : 10%;
}

th {
    font-weight : bold;
    font-size : 130%;
}
<<<<<<< HEAD
=======
th.t {
    width:5em;    
}
>>>>>>> 20f47f33b828d68e2ce502c1f66332d278983faf

tr td:hover
{
    background-color: #FEBEBE;
}

.on
{
  background-color: #b94646;
}
<<<<<<< HEAD
=======
.footer
{
 background-color:#000; margin-top:30px;
}

.footer_p
{
    color:#fff; margin:0 auto; height:70px; line-height:70px;
}

>>>>>>> 20f47f33b828d68e2ce502c1f66332d278983faf

</style>

</body>
</html>
